body {
    width: 1180px;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 0px 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: cursive;
}
.Contenido {
    color: #5E1C36;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    padding: 10px 40px 10px 40px;
    background-color: #68cf7e;
}
    .Conclusión {
    color: #e1e3ec;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 0px 40px 0px 40px;
    padding: 5px 40px 5px 40px;
    background-color: #5C85D5;
}